@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'giliams';
  src: url('../public/Giliams-Regular.otf');
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-container {
  @apply max-w-[900px] my-10 mx-4 px-8 sm:mx-8;
}

.card-link {
  @apply p-2 border rounded-md bg-green-900 text-white hover:bg-green-600 transition duration-300 dark:text-gray-300 hover:scale-105;
}

.skills-span {
  transform-box: inherit;
}
